<!-- REVIEW NOTES -->
<!-- The controller and the model are only concerned with gathering the data -->
<!-- Model doesn't touch HTML; the view is only concerned with presenting the data available from the model -->
<!-- Data binding moves model data to view, directives allow for indirect model view interaction -->
<!-- $scope provides the model -->

<!DOCTYPE html>
<html ng-app="gitHubApp">
<head>
    <script data-require="angular.js@*" data-semver="4.0.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <link rel="stylesheet" href="../Directives_and_Views/directivesAndViews.css">
    <script src="services.js"></script>
</head>
<body>
    <div ng-controller="gitHubCtrl" class="myElement">

        <h1>{{ message }}</h1>
        <!-- adding search inputs -->
        {{ countdown }}
        <form name="searchUser">
            <!-- adding directive ng-model to read input from user and push value to scope object, moves input user types into your model -->
            <div class="formElement">
                <input class="searchUserInput" type="search" placeholder="enter username" ng-model="username">
                <!-- ng-click directive takes an expression that's going to be a function call -->
                <input class="searchUserButton" type="submit" value="Search" ng-click="search(username)">
                <!-- binding directive to display username instantly-->
                
            </div>
                <hr/>
        </form>

        <div ng-hide="user">{{ error }}</div>
        <div ng-include="'../Directives_and_Views/userdetails.html'" ng-show="user"> </div>
    </div>
</body>
</html>